Source: raid1-dkms
Section: kernel
Priority: optional
Maintainer: Zhong Jianxin <azuwis@gmail.com>
Standards-Version: 3.9.2
Build-Depends: debhelper (>= 7.0.50~), dkms
Homepage: http://kernel.org/

Package: raid1-dkms
Architecture: all
Depends: ${misc:Depends}, dkms
Description: RAID1 kernel module with patch
 RAID1 kernel module from Debian Linux kernel with the following patch applied
 .
   * https://lkml.org/lkml/2012/9/13/28
 .
 This package can be build againt the following kernel versions
 .
   * 3.2.39
   * 3.2.41
   * 3.2.46
