Source: raid1-dkms
Section: kernel
Priority: optional
Maintainer: Zhong Jianxin <azuwis@gmail.com>
Standards-Version: 3.9.2
Build-Depends: debhelper (>= 7.0.50~), dkms
Homepage: http://kernel.org/

Package: raid1-dkms
Architecture: all
Depends: ${misc:Depends}, dkms
Description: RAID1 kernel module with patch
 This the RAID1 kernel module from linux kernel 3.2.51
 For more info, see https://lkml.org/lkml/2012/9/13/28
